@import url('https://fonts.googleapis.com/css2?family=Orelega+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Niramit:wght@200;300;400;500;600;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  font-family: "Niramit", sans-serif;
  letter-spacing: 0.6px;
  color: #212121;
}

// Полоса прокрутки
::-webkit-scrollbar {
  width: 9px;
  border-radius: 8px;
  background-color: hsl(27, 92%, 91%);
}
::-webkit-scrollbar-thumb {
  background-color: hsl(27, 92%, 60%);
  border-radius: 8px;
}
::-webkit-scrollbar-thumb:hover {
  background-color: hsl(27, 92%, 56%);
}

// Поле ввода
.field__item {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  @apply block relative h-12 w-full;
}
.field__item .entry__field {
  @apply absolute h-12 w-full bg-empty-field border-white rounded-[10px] transition tracking-[0.8px]
  focus:ring-0 focus:border-[1.3px] focus:bg-white focus:border-orange
  valid:border-[1px] valid:border-solid valid:border-orange valid:bg-white
}
.field__item .label__title {
  @apply absolute top-3 left-5 font-medium text-[rgba(0,0,0,.5)] duration-200 cursor-text
}
.field__item .cross__close {
  @apply hidden absolute right-0
}
.field__item .entry__field:focus + .label__title,
.field__item .entry__field:valid + .label__title {
  @apply -top-2 left-3 px-1 bg-white text-orange text-xs;
}
.field__item .entry__field:valid ~ .cross__close {
  @apply block right-2.5 top-2.5;
}

// Кнопка
.btn {
  @apply uppercase w-full py-3.5 bg-inactive-button text-[rgba(0,0,0,.5)] text-lg tracking-[2px] rounded-[10px] duration-300
}
.btn.active {
  @apply bg-orange text-white font-semibold
}

// Ссылки табы
.p-tabview-nav-container {
  @apply mb-8
}
.p-tabview-nav {
  @apply justify-between
}
.p-tabview-header {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
.p-tabview-header .p-tabview-title {
  @apply py-2.5 px-[20px] text-[11px] font-semibold uppercase border-[1px] border-solid border-[rgba(237,237,237,.5)] rounded-2xl transition
}
.p-highlight .p-tabview-title {
  @apply text-orange border-orange
}